body{
background-color: #525659;
background-attachment:fixed;
background-size: cover;
}
.whole-panel{
  height: 480pt;
  width: 600pt;
  border-radius: 2px;
  margin: auto;
  margin-top: 64px;
}
.panel1{
  float: left;
}
.panel2{
  background-color: #FFFEF4;
  float: right;
  width: 500px;
  height: 884px;
}
.content{
  background-color: #113848;
  height: 284px;
}
hr{
  height: 3px;
  width:60px;
  background-color:#D1B193;
  margin-left: 3px;
}
#h1{
  margin-left: 117px;
}
.part1,.part2,.part3,.part4,.part5{
  margin-left: 40px;
  margin-top: 30px;
}
h1{
  font-size: 55px;
  color: #FFFFFF;
  margin-bottom: 10;
  margin-top: 0;
  margin-top: -10px;
  margin-bottom: -19px;
  margin-left: -3;
}
#p{

    margin-left: 65px;
    margin-top: 0px;
    padding-top: 30;
}
h3{
  color: #D1B194;
  font-family: 'Source Code Pro', monospace;
  font-weight:400;
  font-size: 16px;
}
#c2{
  margin-left: 63px;
  margin-top: 23px;
  color: #FFFEF4;
  margin-bottom: -33px;
}
#c1{
    margin-bottom: -18px;
    margin-left: 69px;
    color: #FFFEF4;
}
span{
  background-color: #113848;
  font-size: 8px;
  color: #113848;
  border:thin solid;
  border-color: #FFFEF4;
}
.l1{
font-size: 13px;
color: #113848;
}
.o{
  background-color:#D1B193;
  color:#D1B193;
}
#c1,#c2{
  font-weight:lighter;
  font-size: 15px;
  font-family: 'Cormorant Infant', monospace;
}
.add,.phone,.email{
font-family: 'Kanit', sans-serif;
font-weight: normal;
font-size: 13px;
color: #113848;
}
.add1{
  font-size: 13px;
  font-style: normal;
  font-family: calibri;
  color: #5C6D7E;
}
.phone2{
  font-size: 13px;
  font-style: normal;
  font-family: 'Princess Sofia',fantasy;
  color: #ff;
}
.email1 {
  font-size: 14px;
  font-style: normal;
  font-family: 'Fresca',normal;
  color: #5C6D7E;
}
.qual,.exp1 {
  font-size: 15px;
  font-style: bold;
  font-family: 'Fresca',normal;
  color: #113848;
}
.qual1,.exp2 {
  font-size: 14px;
  font-style: normal;
  font-family: 'Fresca',normal;
  text-align: center;
  margin-left: 21px;
  color: #5C6D7E;
}
ul {
  font-size: 15px;
  font-style: bold;
  font-family: 'Fresca',normal;
  color: #113848;
}
#h10 {
  font-size: 19px;
  font-weight: 400;
  margin: 8px 0 32px;
  color: #999;
  text-align: center;
  word-wrap: break-word;
      font-family: 'q_serif',Georgia,Times,"Times New Roman",serif;
}
